@import "./login";
@import "./register";


#auth{
  background-color: $auth-bg-color;
  font-family: $sans-serif;
  margin: 0 auto;
  margin-top: 75px;


  >h3{
    color: $auth-font-color;
    margin: 0px 0px 5px 0px;
    border-bottom: 1px solid $auth-font-color;
  }
  @media only screen and (min-width: $desktop-min){
    width: 400px;
    padding: 25px;

  }
  @media only screen and (max-width: $mobile-max){
    width: 100%;
    padding: 15px;

  }
}
