$main-bg-color: #9ad4a1;

$navigation-bg-color: #4caf50;
$navigation-btn-hover-bg-color: #5dbf61;

$auth-bg-color: #88ee88;
$auth-font-color: #338833;
$auth-error-font-color: red;
$auth-submit-bg-color: #45aff3;
$auth-submit-font-color: #ffffff;

$venue-bg-color: #eeeeee;
$venue-people-bg-color: #bbbbbb;
