#venues{
  font-family: $serif;

  .loading, .no-results{
    text-align: center;
    color: $navigation-bg-color;

    @media only screen and (max-width: $mobile-max){
      font-size: 12px;
    }
  }

  .some-results{
    width: 80%;
    margin: 0 auto;
    margin-top: 5px;

    >h3{
      text-align: center;

      @media only screen and (min-width: $desktop-min){
        font-size: 16px;
      }
      @media only screen and (max-width: $mobile-max){
        font-size: 9px;
      }
    }

    .venue{
      position: relative;
      background-color: $venue-bg-color;
      font-family: $sans-serif;
      border-radius: 10px;
      padding: 6px;

      .link a:hover{
        cursor: pointer;
      }
      .people-going{
        display: inline-block;
        background-color: $venue-people-bg-color;
        color: #ffffff;
        margin-top: 20px;
        padding: 3px;
      }
      .invite-self{
        display: inline-block;
        background-color: $venue-people-bg-color;
        color: #ffffff;
        padding: 3px;
        border: 1px solid $venue-bg-color;

        &:hover{
          cursor: pointer;
        }
      }
      .clearfix{
        clear: both;
      }

      @media only screen and (min-width: $desktop-min){
        width: 100%;
        margin: 0px 5px 5px 0px;

        .title{
          margin: 2px 0px;
          font-size: 14px;
        }
        img, .bad-img-url{
          width: 120px;
          height: 120px;
          float: left;
          margin-right: 10px;
        }
        .bad-img-url{
          background-color: #777777;
          border: 5px solid #999999;
          line-height: 120px;
          text-align: center;
          font-size: 10px;
        }
        .address, .phone, .link, .people-going, .invite-self{
          font-size: 11px;
        }
      }
      @media only screen and (max-width: $mobile-max){
        width: 100%;
        margin: 10px 0px;

        .title{
          margin: 2px 0px;
          font-size: 12px;
        }
        img, .bad-img-url{
          width: 100px;
          height: 100px;
          float: left;
          margin-right: 10px;
        }
        .bad-img-url{
          background-color: #777777;
          border: 3px solid #999999;
          line-height: 100px;
          text-align: center;
          font-size: 8px;
        }
        .address, .phone, .link, .people-going, .invite-self{
          font-size: 10px;
        }
      }
    }
  }
}
