#navigation{
  $height: 50px;

  background-color: $navigation-bg-color;
  color: $navigation-font-color;
  font-family: $sans-serif;
  position: fixed;
  z-index: 1;
  left: 0px;
  top: 0px;
  width: 100%;
  height: $height;

  .title{
    position: absolute;
    top: 0px;
    left: 20px;
    margin: 0px;
    line-height: $height;

    &:hover{
      cursor: pointer;
    }
  }
  .nav-btns{
    position: absolute;
    top: 0px;
    right: 20px;
    margin: 0px;
    padding-left: 0px;
    list-style-type: none;

    li{
      float: left;
      line-height: $height;
      @media only screen and (min-width: $desktop-min){
        padding: 0 5px 0 5px;
      }
      @media only screen and (max-width: $mobile-max){
        padding: 0 3px 0 3px;
      }


      &.clickable:hover{
        background-color: $navigation-btn-hover-bg-color;
        cursor: pointer;
      }
    }
  }
}
